/* CSS declarations go here */
body {
  
  padding:20px;
  
}

.articles_listing {
  
  li {
    
    span.title {
      &:hover {
        text-decoration:underline;
        cursor:pointer;
      }
    }
  }
}

#insertArticleForm {
  
  .note-editor.panel {
    min-height:120px;
  }
}