<template name="articlesByStreamTmpl">

  <div class="template-listing">
  
    <div class="page-header">
      <a href="#" class="streams_link">All Streams</a>
      <div class="breadcrumbs">{{articlesCategoryName}} > {{articlesStreamName}}</div>
      <h1>Articles by Stream</h1>
      <h3>{{articlesStreamName}}</h3>
      
    </div>
    
    <div class="articles_listing">
      <ul class="list-group">
        
        {{#each streamArticles}}
          
          <!-- {{userID}} && {{creatorID}} -->
          <li class="list-group-item">
            <span class="title">{{ title }}</span> - {{stream_title}}
            <span><a class="update_article" href="#">edit</a></span>
            <span><a class="delete_article" href="#">delete</a></span>
          </li>
          
        {{/each}}
        
      </ul>
    </div>    
    
    <div class="add_article">
   		<button class="btn btn-md btn-default">New Article</button>
    </div>
    
  </div> <!-- template_listing -->
</template>

<template name="articlesTmpl">

  <div class="template-listing">
  
    <div class="page-header">
      <h1>Articles</h1>
      <a href="#" class="streams_link">Streams</a>
    </div>
    
    <div class="articles_listing">
      <ul class="list-group">
        
        {{#each articles}}
        <!-- {{userID}} && {{creatorID}} -->
          <li class="list-group-item">
            <span class="title">{{ title }}</span> - {{stream_name}}
            <span><a class="update_article" href="#">edit</a></span>
            <span><a class="delete_article" href="#">delete</a></span>
          </li>
          
        {{/each}}
        
      </ul>
    </div>    
    
    <div class="add_article">
   		<button class="btn btn-md btn-default">New Article</button>
    </div>
    
  </div> <!-- template_listing -->
</template>


<template name="articleCreateTmpl">
  <div class="page-header">
      <h1>Create Article</h1>
  </div>
    
  <div>
    {{#autoForm collection="Articles" doc=this id="insertArticleForm" type="insert"}}
      {{> afQuickField name='stream_name' options=streams_select}}
      {{> afQuickField name='title'}}
      {{> afQuickField name='short_title'}}
      {{> afQuickField name='content'}}
      <button type="submit" class="btn btn-primary">Create Article</button>
    {{/autoForm}}      
    
	 </div>
   <a href="#" class="articles_link">Cancel</a>
</template>

<template name="articleDisplayTmpl">
  <div class="page-header">
      <h1>Preview Article</h1>
  </div>
  
  <div>
   <h1>{{title}}</h1>
   <h2>{{short_title}}</h2>
   <div class="from_editor">
     {{{content}}} <!-- use the triple-stash escape syntax of spacebar templates so it renders as HTML, not text -->
   </div>
	</div>
  <a href="#" class="articles_link">Cancel</a>
</template>
    
    
<template name="articleUpdateTmpl">
  <div class="page-header">
      <h1>Update Article</h1>
  </div>
  <div>
    <!--stream_select returns label and value for each Category select option -->
    {{#autoForm collection="Articles" doc=this id="updateArticleForm" type="update"}}
       <!--stream_select helper returns label and value for each Category select option -->
       {{> afQuickField name='stream_name' options=streams_select}}
       
       {{> afQuickField name='title'}}
       {{> afQuickField name='short_title'}}
       {{> afQuickField name='content'}}
    <button type="submit" class="btn btn-primary">Update Article</button>
    {{/autoForm}}
	</div>
  <a href="#" class="articles_link">Cancel</a>
</template>