<template name="streamsTmpl">

  <div class="template-listing">
  
    <div class="page-header">
      <h1>Your Streams</h1>
    </div>
    
   <!-- <div>
      {{> quickForm collection="Streams" id="insertStreamForm" type="insert"}}
	  </div>
    
    
   <div>
      {{> quickForm collection="Streams" doc=this id="updateStreamForm" type="update"}}
	  </div>
    -->
    <div class="streams_listing">
      <ul class="list-group">
        
        {{#each streams}}
        
          <li class="list-group-item"><span class="title">{{ stream_title }}</span> - <span class="category">{{category}}</span> - <span>{{userID}} && {{creatorID}}</span>
            <span><a class="update_stream" href="#">edit</a></span>
            <span><a class="delete_stream" href="#">delete</a></span>
          </li>
          
        {{/each}}
        
      </ul>
    </div>    
    
    <div class="add_stream">  
   		<button class="btn btn-md btn-default">New Stream</button>
    </div>
    
    
    
  </div> <!-- template_listing -->
</template>


<template name="streamCreateTmpl">
  <h3>Create a New Stream</h3>
  <div>
    {{#autoForm collection="Streams" id="insertStreamForm" type="insert"}}
       {{> afQuickField name='category' options=categories_select}}
       {{> afQuickField name='stream_title'}}
       {{> afQuickField name='stream_description'}}
       
    <button type="submit" class="btn btn-primary">Create Stream</button>
    {{/autoForm}}
	 </div>
   <a href="#" class="streams_link">Cancel</a>
</template>

    
    
<template name="streamUpdateTmpl">
  <h3>Update Stream Information</h3>
  <div>
    {{#autoForm collection="Streams" doc=this id="updateStreamForm" type="update"}}
      {{> afQuickField name='category' options=categories_select}}
      {{> afQuickField name='stream_title'}}
       {{> afQuickField name='stream_description'}}
       <button type="submit" class="btn btn-primary">Update Stream</button>
    {{/autoForm}} 
    
    
	</div>
  <a href="#" class="streams_link">Cancel</a>
</template>